body {
  background: #f5f5f5;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-weight: 800;
  font-size: 20px;
  color: #232524;
  padding: 10px;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
.input {
  width: 250px;
}
p {
  font-size: 12px;
  color: #757575;
}
Button {
  background-color: #b937d3;
  height: 2.75rem;
}

hr {
  border-color: #cbcbcc;
}
