footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: #232524;
  padding: 20px 0;
  margin-top: 40px;
  color: #fafafa;
}
footer a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #fafafa;
}
@media (min-width: 768px) {
  footer {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}
