header {
  display: flex;
  background: #232524;
  height: 100px;
  font-family: "Gochi Hand", cursive;
}
.element-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.name-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
/* LOADING */
.container-loader {
  width: 1024px;
  margin: 50px auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
