.container-presentation {
  height: 100%;
}
.presentation-meetWorld {
  width: 100%;
}
.firstBlock-presentation,
.secondBlock-presentation,
.thirdBlock-presentation {
  display: flex;
  height: 20rem;
  padding: 5rem;
}
.text-presentation {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
.text-presentation > p {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 800;
}

.picture-presentation {
  width: 50%;
  display: flex;
  justify-content: center;
}
.happy-people-picture,
.travel-people-picture {
  border-radius: 1rem;
  width: 80%;
  object-fit: cover;
}
