.container-welcome {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../img/picture-people.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.welcome-meet-world {
  height: 300px;
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
.title-welcome-meet-world,
.presentation-welcome {
  color: #ffffff;
  font-size: 40px;
}

@media (min-width: 768px) {
  .title-welcome-meet-world,
  .presentation-welcome {
    font-size: 20px;
  }
}
