/* Common */

body {
  background: #fafafa;
  margin: 0 auto;
  width: 1240px;
}
#input {
  height: 10px;
  width: 300px;
}
.container {
  display: flex;
}

/* LOGIN */

.container-login {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 1000px;
}
.picture-landscape {
  background-size: "cover";
  background-position: "center";
  object-fit: contain;
  width: 700px;
  height: 500px;
}
.form {
  margin-right: 20px;
}
